{% extends "base.html" %}
{% block content %}
    <div id="header-center">
        <h1 id="title-h">ChocoBlog2</h1>
        <small>this is subtitle, no one even notice this</small>
    </div>
    <div class="card">
        <div class="card-content">
            <h1>Post Title</h1>
            <small>admin 2015/08/01</small>
            <hr/>
            <div id="content-main">

                <h2>子标题</h2>
                <p>这里是一些文字，可能有几行那么长。这里是一些文字，可能有几行那么长。这里是一些文字，可能有几行那么长。这里是一些文字，可能有几行那么长。</p>
                <a href="#">this is links</a>

            </div>
            <hr/>
        </div>
        <div class="card-comment">
            <p>this is some line</p>
        </div>
    </div>
{% endblock %}